.freezable-table, table {
    white-space: nowrap;
    width: 100%;
}

.freezable-table tbody tr:nth-child(odd) {
    background: #f4fff5;
}

.freezable-table, thead {
    font-size: 1.2em;
    font-weight: bold;
    color: rgba(0,0,0,.54);
}

.freezable-table, td {
    border-spacing: 0;
    border-bottom-color: rgba(0,0,0,.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 1.5em;
}

.freezable-table, tbody {
    font-size: 1.1em;
    font-weight: normal;
    color: rgba(0,0,0,.87);
}

.freezable-table .cell {
    padding-left: 2em;
}