<table class="freezable-table">
  <thead>
    <tr>
      <th *ngFor="let column of visibleColumns">
        <span class="cell">{{column}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let column of visibleColumns">
        <span class="cell">{{row.get(column)}}</span>
      </td>
    </tr> 
  </tbody>
</table>
