<div style="min-width: 850px;">

  <div class="mat-elevation-z8" style="display: inline-block; padding: 0.65em; color: #3b78e7;">
    Columns to freeze: 
    <mat-slider [(ngModel)]="freezedColumnCount" 
      [min]="0" 
      [max]="columnCount"
      [tickInterval]="1"
      (input)="onFreezedColumnCountChanged($event)">
    </mat-slider>&nbsp;{{freezedColumnCount}}
  </div>

  <div class="mat-elevation-z8" style="padding: 0.65em;float: right;">
    <app-table-paginator [totalRowsCount]="totalRowsCount" 
      [pageSize]="pageSize" 
      (pageNumberChanged)="goToPage($event)"
      (pageCountDetermined)="setPageCount($event)"
      (pageSizeChanged)="setPageSize($event)">
    </app-table-paginator>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="mat-elevation-z8">

    <div style="max-width: 65%; width: auto; overflow-x: auto; float: left; resize: horizontal;border-right: 4px double #c9eeff;">
      <app-freezable-table [side]="tableSide.Left" 
        [freezedColumnCount]="freezedColumnCount" 
        [hidden]="freezedColumnCount === 0 || freezedColumnCount === columnCount"
        [rows]="rows">      
      </app-freezable-table>        
    </div>

    <div style="overflow-x: scroll; width: auto;">
      <app-freezable-table [side]="tableSide.Right" 
        [freezedColumnCount]="freezedColumnCount" 
        [rows]="rows">      
      </app-freezable-table> 
    </div>
  </div> 

</div>
