<span style="color: #0d904f;">

  Page size: 
  <mat-slider [(ngModel)]="pageSize" 
    [min]="1" 
    [max]="totalRowsCount"
    [tickInterval]="1"
    (input)="onPageSizeChanged($event)">
  </mat-slider>&nbsp;{{pageSize}}

  <br>

  <button title="First page" (click)="goToFirstPage()" [disabled]="!canGoToFirstPage" mat-raised-button>&lt;&lt;</button>
  &nbsp;
  <button title="Previous page" (click)="goToPreviousPage()" [disabled]="!canGoToFirstPage" mat-raised-button>&lt;</button>
  &nbsp;
  <span style="display: inline-block;padding: 5px;" title="{{totalRowsCount}} total rows available">Page: {{pageNumber}} / {{lastPageNumber}}</span>
  &nbsp;
  <button title="Next page" (click)="goToNextPage()" [disabled]="!canGoToLastPage" mat-raised-button>&gt;</button>
  &nbsp;
  <button title="Last page" (click)="goToLastPage()" [disabled]="!canGoToLastPage" mat-raised-button>&gt;&gt;</button>

</span>